@{
    ViewData["Title"] = "Home Page";
    Layout="~/Views/Shared/GeneralLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<footer id="footer"><!--Footer-->
        @await Html.PartialAsync("Footer")
		</footer><!--/Footer-->
